.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: end;
}

.countries--second {
  justify-content: space-evenly;
}

.countries--third {
  justify-content: end;
  flex-direction: column;
}

.countries--fourth {
  justify-content: space-evenly;
  flex-direction: column;
}
